<h1>Welcome to Vet Pet Clinic</h1>
<p class="lead">Manage pet owners, dogs and cats, and visit schedules for your veterinary clinic.</p>
<p>
    <a ui-sref="login" class="btn btn-primary me-2"><span class="fa fa-sign-in"></span> Clinic sign in</a>
    <a ui-sref="register" class="btn btn-outline-secondary"><span class="fa fa-hospital-o"></span> Register a new clinic</a>
</p>

<div class="row">
    <div class="col-md-12">
        <img class="img-responsive" src="images/pets.png" alt="pets logo"/>
    </div>
</div>
